  .card__bx {
      /* Apply to the .card class */

    opacity: 0; /* start invisible */
    animation: fadeIn 1s ease-in forwards;/* 1s fade-in, keep final state */
    margin: 25px;
    font-family: inherit;
    height: 270px;
    width: 210px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    transition: var(--card-transition);

  }
  .card__bx::before,
  .card__bx::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: var(--card-transition);
  }
  .card__bx:hover::before {
    inset: -10px 40px;
    transform: skewY(0deg);
  }
  .card__bx:hover::after {
    inset: 40px -10px;
    transform: skew(0deg);
  }
  .card__bx .card__data {
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    padding: 0 15px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .card__bx .card__data .card__icon {
    margin-bottom: 10px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--text-color);
    background-color: var(--dark-color);
    transition: var(--card-transition);
  }
  .card__bx .card__data .card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .card__bx .card__data h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
    transition: var(--card-transition);
  }
  .card__bx:hover .card__data h3 {
    color: var(--dark-color);
    transition: var(--card-transition);
  }
  .card__bx .card__data p {
    font-size: 0.7rem;
    color: var(--dark-alt-color);
    transition: var(--card-transition);
  }
  .card__bx:hover .card__data p {
    color: var(--dark-color);
    transition: var(--card-transition);
  }


.card__bx__blue .card__data a {
    position: relative;
    min-width: 100px;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    border: 2px solid var(--primary-blue);
    color: var(--dark-color);
    background-color: var(--primary-blue);
    transition: var(--card-transition);
  }
  .card__bx__blue:hover .card__data a {
    color: var(--primary-blue);
    background-color: var(--dark-color);
  }
  .card__bx__blue:hover .card__data a:hover {
    border-color: var(--dark-color);
    color: var(--dark-color);
    background-color: var(--primary-blue);
  }
  .card__bx__blue .card__data .card__icon {
    color: var(--primary-blue);
    box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 6px var(--primary-blue);
  }
  .card__bx__blue:hover .card__data .card__icon {
    color: var(--dark-color);
    background-color: var(--primary-blue);
    box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 300px var(--primary-blue);
  }
  .card__bx__blue::after {
    inset: 120px -10px;
    border-left: 4px solid var(--primary-blue);
    /* transform: skew(15deg); */
    border-right: 4px solid var(--primary-blue);
  }
  .card__bx__blue::before {
    inset: -10px 90px;
    border-top: 4px solid var(--primary-blue);
    /* transform: skewY(15deg); */
    border-bottom: 4px solid var(--primary-blue);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* subtle upward motion */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  


  