.cardlist {
    padding: 20px;
    background-color: var(--bg-color);
  }
  
  .cardcontainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
    }
    