.introduction {
    height: 60vh;
    background: rgb(34,34,34);
    POSITION: RELATIVE;
    background: rgb(32,41,51);
    background: var(--introduction-background-gradient-color);
    padding-top: 70px;
    /* background: #162942;
    background: linear-gradient(180deg, rgba(22, 41, 66, 1) 0%, rgba(34, 34, 34, 1) 79%); */
}

.biosection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    z-index: 30;
    position: relative;
}



.displayGlass {
    /* display: flex
    ; */
        margin: auto;
        width: 80vw;
        justify-content: center;
        color: var(--displayGlass-color);
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        background-color: var(--displayGlass-background-color);
        backdrop-filter: blur(3px);
        border-top: 1px solid rgba(77, 104, 138, 0.4);
        box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.089);
        max-width: 600px;
        overflow: hidden;
}

.displayButtons {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

/* .displayGlass:hover .shine {
    top: 110%;
    transition: 0.5s;
} */

.shine {
    animation: shineAnimation 40s infinite;
}

@keyframes shineAnimation {
    0% {
        top: -110%; /* Or whatever the initial top value is (e.g., -100%) */
    }
    1% {
        top: 110%; /* Back to initial */
    }
    100% {
        top: 110%;
    }
}

.title{
    font-size: 50px;
}

.leftbio, .rightbio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
}

.bg-animation {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    z-index: 1;
    opacity: var(--opacity-light-hidden)
}


.commands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
}

.commandButton {
    width: 120px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

.commandContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 18px 10px;
    justify-content: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 630px) {
    .introduction{
        height: 90vh;
    }
}

@media (min-width: 629px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
}